@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    input{
      width: 100%;
    }
  }
  .MuiDialogContent-root{
    height: 447px;
    width: 400px;
  }
  .MuiButton-label {
    margin-left: 5px;
  }