.test {
    size: small;
    margin-bottom: 0px !important;
};
.searchBtn {
    height: 50px;
    width: -webkit-fill-available;
    position: relative;
};
.esri-view-width-large .esri-popup__main-container {
    max-height: 800px;
};
.title {
    margin-left: 6%;
    margin-top: 3%;
};